body {
    font-family: 'Arial', sans-serif;
}
form, input {
    border: none;
    border-radius: 0%;
    border-bottom: thin solid #B7BDC5;
}
.bg-grey {
    background-color: #30414E;
}
.text-grey {
    color: #30414E;
}
.bg-aqua {
    background-color: #1BBC9B;
}